
/******* Common CSS ******/

@media print {
	
	.page {
	  max-width: auto;
	}
	
	@page
	{
		size: 1140px 1370px;
	  margin: 0;
	  counter-increment: page;
	  padding: 0px !important;
	}

	.page-break {
		margin: 0 !important;
		height: 1385px !important;
	}
	
	.container {
		width: 100% !important;
		margin: 0px !important;
		padding: 0px !important;
	}
	
	.no_print {
		display: none;
	}

	body {
		-webkit-print-color-adjust: exact;
	  padding: 0px !important;
	  margin: 0px;
	  background-color: #003281;
	}
	* {
	  -webkit-print-color-adjust: exact !important;
  	}
	
  }
  
  .page-break {
	  page-break-before:always;
  }
  
  .bg-tata-blue {
	  background-color: #1f419b;
  }
  .bg-tata-paleblue {
	  background-color: #3e68b4;
  }
  
  .bg-dark-grey {
	  background-color: #444;
  }
  
  .btn-transparent {
	  border: none;
	  background-color: transparent;
  }
  
  .border-tata-blue {
	  border: 1px solid #1f419b;
  }
  
  .font-white {
	  color: #fff;
  }
  .bg-white {
	  background-color: #fff;
  }
  .margin-0 {
	  margin: 0px !important;
  }
  
  .margin-10 {
	  margin: 10px;
  }
  
  .margin-top-0 {
	  margin-top: 0px;
  }
  
  .margin-top-10 {
	  margin-top: 10px;
  }
  .margin-top-20 {
	  margin-top: 20px;
  }
  .margin-top-30 {
	  margin-top: 30px;
  }
  .margin-top-50 {
	  margin-top: 50px;
  }
  
  .margin-left-10 {
	  margin-left: 10px;
  }
  
  .margin-bottom-0 {
	  margin-bottom: 0px;
  }
  
  .margin-bottom-10 {
	  margin-bottom: 10px;
  }
  .margin-bottom-20 {
	  margin-bottom: 20px;
  }
  .margin-bottom-30 {
	  margin-bottom: 30px;
  }
  .margin-bottom-40 {
	  margin-bottom: 40px;
  }
  
  .padding-5 {
	  padding: 5px;
  }
  
  .padding-10 {
	  padding: 10px;
  }
  
  .padding-20 {
	  padding: 20px;
  }
  
  .padding-left-0 {
	  padding-left: 0px !important;
  }
  .padding-left-10 {
	  padding-left: 10px !important;
  }
  .padding-left-15 {
	  padding-left: 15px !important;
  }
  .padding-left-20 {
	  padding-left: 20px !important;
  }
  
  .padding-right-0 {
	  padding-right: 0px !important;
  }
  .padding-right-10 {
	  padding-right: 10px !important;
  }
  .padding-right-20 {
	  padding-right: 20px !important;
  }
  
  .padding-h-50 {
	  padding-left: 50px;
	  padding-right: 50px;
  }
  .padding-h-20 {
	  padding-left: 20px;
	  padding-right: 20px;
  }
  
  .padding-v-10 {
	  padding-top: 10px;
	  padding-bottom: 10px;
  }
  .padding-v-20 {
	  padding-top: 20px;
	  padding-bottom: 20px;
  }
  
  .border-solid-1 {
	  border: 1px solid;
  }
  
  .border-white {
	  border-color: #fff;
  }
  
  
  .font-13 {
	  font-size: 13px;
  }
  .font-12 {
	  font-size: 12px;
  }
  .font-11 {
	  font-size: 11px;
  }
  .font-10 {
	  font-size: 11px;
  }
  
  .font-bold {
	  font-weight: bold;
  }
  
  .col-50 {
	  width: 50% !important;
  }
  
  .cover-bg {
	  background-size: cover;
	  background-position: center center;
  } 
  
  .pdf-catalogue-bg {
	  background-image: url("../images/polygon.png");
  }
  
  .absolute {
	  position: absolute;
  }
  
  .relative {
	  position: relative;
  }
  
  .top-0{
	  top: 0px;
  }
  
  .bottom-0 {
	  bottom: 0px;
  }
  
  .left-0 {
	  left: 0px;
  }
  
  .right-0 {
	  right: 0px;
  }
  
  button:focus{
	  outline: none;
  }
  .noborder{
	  border: none;
  }
  .inline-block {
	  display: inline-block;
  }
  .list-item {
	  display: list-item;
  }
  .no-wrap {
	  white-space: nowrap;
  }
  input.nofocus:focus, button.nofocus:focus{
	  outline: none;
  }
  .clickable{
	  cursor: pointer;
	  
  }
  .align-middle{
	  vertical-align: middle !important;
  }
  .align-top{
	  vertical-align: top !important;
  }
  .overflow-hidden{
	  overflow-y: hidden;
  }
  
  .pointer {
	  cursor: pointer;
  }
  /*Class for disabling element selection*/
  .noselect {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
  }
  .pop-up
  {
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0,0,0,0.5);
	  z-index: 1111;
	top: 0px;
	left: 0px;
	display: none;
  }
  .parent:before, .parent:after{
	  clear: both;
	content: "";
	display: table;
	margin-top: -1px;
	height: 0;
  }
  .pop-up.active{
	display: table;
  }
  .float-right{
	  float:right;
  }
  .pop-up.inactive{
	display: none;
  }
  .left-text{text-align: left;}
  .pop-up > div
  {
	  display: table-cell;
	  vertical-align: middle;
  }
  .pop-up .body{
	  margin: 0px auto;
  }
  .self-clear:after{
	  content: '';
	  display: block;
	  float: none;
	  clear: both;
  }
  .right-text{
	  text-align: right;
  }
  .blueText{
	  color: #0058a0;
  }
  .blueBg{
	  background-color: #0058a0;
  }
  .pop-up.common-pop .body{
	  background: #fff;
	  width: 100%;
	  max-width: 400px;
	  padding: 12px 10px;
  }
  .prompt .body{
	  width: 100%;
	  max-width: 600px;
	  margin: 0px auto;
	  background-color: #fff;
	  padding: 15px 15px;;
	  position: relative;
  }
  .prompt .body .close{
	  width: 50px;
	  height: 50px;
	  
	  float: none;
	  position: absolute;
	  right: 0px;
	  top: 0px;
  }
  #floatBarsG{
	  position:relative;
	  width:234px;
	  height:28px;
	  margin:auto;
  }
  .floatBarsG{
	  position:absolute;
	  top:0;
	  background-color:rgb(255, 255, 255);
	  width:28px;
	  height:28px;
	  animation-name:bounce_floatBarsG;
		  -o-animation-name:bounce_floatBarsG;
		  -ms-animation-name:bounce_floatBarsG;
		  -webkit-animation-name:bounce_floatBarsG;
		  -moz-animation-name:bounce_floatBarsG;
	  animation-duration:1.5s;
		  -o-animation-duration:1.5s;
		  -ms-animation-duration:1.5s;
		  -webkit-animation-duration:1.5s;
		  -moz-animation-duration:1.5s;
	  animation-iteration-count:infinite;
		  -o-animation-iteration-count:infinite;
		  -ms-animation-iteration-count:infinite;
		  -webkit-animation-iteration-count:infinite;
		  -moz-animation-iteration-count:infinite;
	  animation-direction:normal;
		  -o-animation-direction:normal;
		  -ms-animation-direction:normal;
		  -webkit-animation-direction:normal;
		  -moz-animation-direction:normal;
	  transform:scale(.3);
		  -o-transform:scale(.3);
		  -ms-transform:scale(.3);
		  -webkit-transform:scale(.3);
		  -moz-transform:scale(.3);
  }
  
  #floatBarsG_1{
	  left:0;
	  animation-delay:0.6s;
		  -o-animation-delay:0.6s;
		  -ms-animation-delay:0.6s;
		  -webkit-animation-delay:0.6s;
		  -moz-animation-delay:0.6s;
  }
  
  #floatBarsG_2{
	  left:29px;
	  animation-delay:0.75s;
		  -o-animation-delay:0.75s;
		  -ms-animation-delay:0.75s;
		  -webkit-animation-delay:0.75s;
		  -moz-animation-delay:0.75s;
  }
  
  #floatBarsG_3{
	  left:58px;
	  animation-delay:0.9s;
		  -o-animation-delay:0.9s;
		  -ms-animation-delay:0.9s;
		  -webkit-animation-delay:0.9s;
		  -moz-animation-delay:0.9s;
  }
  
  #floatBarsG_4{
	  left:88px;
	  animation-delay:1.05s;
		  -o-animation-delay:1.05s;
		  -ms-animation-delay:1.05s;
		  -webkit-animation-delay:1.05s;
		  -moz-animation-delay:1.05s;
  }
  
  #floatBarsG_5{
	  left:117px;
	  animation-delay:1.2s;
		  -o-animation-delay:1.2s;
		  -ms-animation-delay:1.2s;
		  -webkit-animation-delay:1.2s;
		  -moz-animation-delay:1.2s;
  }
  
  #floatBarsG_6{
	  left:146px;
	  animation-delay:1.35s;
		  -o-animation-delay:1.35s;
		  -ms-animation-delay:1.35s;
		  -webkit-animation-delay:1.35s;
		  -moz-animation-delay:1.35s;
  }
  
  #floatBarsG_7{
	  left:175px;
	  animation-delay:1.5s;
		  -o-animation-delay:1.5s;
		  -ms-animation-delay:1.5s;
		  -webkit-animation-delay:1.5s;
		  -moz-animation-delay:1.5s;
  }
  
  #floatBarsG_8{
	  left:205px;
	  animation-delay:1.64s;
		  -o-animation-delay:1.64s;
		  -ms-animation-delay:1.64s;
		  -webkit-animation-delay:1.64s;
		  -moz-animation-delay:1.64s;
  }
  
  
  
  @keyframes bounce_floatBarsG{
	  0%{
		  transform:scale(1);
		  background-color:rgb(0,33,87);
	  }
  
	  100%{
		  transform:scale(.3);
		  background-color:rgb(255,255,255);
	  }
  }
  
  @-o-keyframes bounce_floatBarsG{
	  0%{
		  -o-transform:scale(1);
		  background-color:rgb(0,33,87);
	  }
  
	  100%{
		  -o-transform:scale(.3);
		  background-color:rgb(255,255,255);
	  }
  }
  
  @-ms-keyframes bounce_floatBarsG{
	  0%{
		  -ms-transform:scale(1);
		  background-color:rgb(0,33,87);
	  }
  
	  100%{
		  -ms-transform:scale(.3);
		  background-color:rgb(255,255,255);
	  }
  }
  
  @-webkit-keyframes bounce_floatBarsG{
	  0%{
		  -webkit-transform:scale(1);
		  background-color:rgb(0,33,87);
	  }
  
	  100%{
		  -webkit-transform:scale(.3);
		  background-color:rgb(255,255,255);
	  }
  }
  
  @-moz-keyframes bounce_floatBarsG{
	  0%{
		  -moz-transform:scale(1);
		  background-color:rgb(0,33,87);
	  }
  
	  100%{
		  -moz-transform:scale(.3);
		  background-color:rgb(255,255,255);
	  }
  }
  
  
  body{margin:0px; padding:0px; line-height:inherit !important; font-family:Arial, Helvetica, sans-serif !important; font-size:12px; background:#fff !important;}
  p,h1,h2,h3,h4,h5,h6,h7,ul,li{ display:block;}
  img{ border:0px;}
  .main-container{width:100%; display:block;}
  .CustomContainer{width:960px; margin:0 auto;}
  .container-bg{background:#fff; border:1px solid #eee; padding-top:3px;}
  .text-right{ text-align:right;}
  .clearfix{ clear:both;}
  .banner img{ width:100%; display:block;}
  .left-box{ width:68%;}
  .right-box{ width:32%;}
  .left-box p{ padding:10px; color:#505153; font-size:14px; line-height:20px;}
  .left-box h1{ padding:0 10px; color:#505153; font-size:24px; margin:0px;}
  .left-box .title{ font-size:14px; font-weight:bold; background:#0059a0; padding:8px; text-align:center; color:#fff; text-transform:uppercase;}
  .clear{clear:both; float:none}
  /*****************  Header CSS  *********************/
  
  header{ padding:40px 0 0px 0;}
  header .logo1{ width:121px; height:17px; margin-top:26px;}
  header .logo2{ width:48px; height:43px;}
  
  /*****************  Navigation CSS  *********************/
  .custom-nav-bar.navbar-default { background-color: #0059a0;  border-color: #0059a0;}
  .custom-nav-bar.navbar { border-radius:0px; min-height:30px; margin:5px 0 0;}
  .custom-nav-bar.navbar-default .navbar-nav > li > a { color: #fff !important;}
  .custom-nav-bar .navbar-nav > li > a { padding-bottom:5px;  padding-top:5px; font-size:12px;}
  .custom-nav-bar .navbar-nav > li > a.active{ background:#333;}
  .custom-nav-bar .nav > li > a:focus, .custom-nav-bar .nav > li > a:active, .custom-nav-bar .nav > li > a:hover { background-color: #0d70bf;  text-decoration: none;}
  .custom-nav-bar.navbar-default .navbar-nav > .open > a, .custom-nav-bar.navbar-default .navbar-nav > .open > a:focus, .custom-nav-bar.navbar-default .navbar-nav > .open > a:hover{ background-color: #0d70bf;}
  .custom-nav-bar.navbar-default .navbar-nav > .open > a{ color:#fff;}
  .custom-nav-bar .dropdown-menu{ background-color:#0059a0; border-radius:inherit; border:0 none;}
  .custom-nav-bar .dropdown-menu > li > a { color: #fff !important;  padding: 3px 15px;}
  .custom-nav-bar .dropdown-menu > li > a:focus, .custom-nav-bar .dropdown-menu > li > a:hover { background-color: #0d70bf;  color: #fff;}
  .custom-nav-bar.navbar-default .navbar-brand { color: #fff; display:none;}
  .custom-nav-bar.navbar-default .navbar-brand:focus, .custom-nav-bar.navbar-default .navbar-brand:hover { background-color: transparent;  color: #fff;}
  /*****************  Banner CSS  *********************/
  .banner-box{width:68%;}
  .banner-home{width:68%;}
  .content-box{ width:100%; padding:4px 0 0 0; box-sizing:border-box;}
  .carousel-indicators, .carousel-control.left, .carousel-control.right{ display:none;}
  .left-box .dream{ width:100%;}
  
  /*****************  Reward Tile CSS  *********************/
  .reward-tile-box{ width:32%;}
  .reward-tile{ background: #0366b0 none repeat scroll 0 0;  box-sizing: border-box; margin:0 4px 4px;}
  .reward-tile img{ width:100%; display:block;}
  
  /*****************  Login CSS  *********************/
  
  .login-tile{ background: #f7f7f5 none repeat scroll 0 0;  box-sizing: border-box;  margin: 0 4px; }
  .login-tile .title{ font-size:14px; font-weight:bold; background:#0059a0; padding:8px; text-align:center; color:#fff; text-transform:uppercase;}
  .login-tile .form-box{padding:10%;}
  .filter-box{ margin-bottom:4px !important;}
  .login-tile label{ display:block; font-size:12px; color:#333; padding:5px 0; width:100%; box-sizing: border-box;}
  .login-tile input[type="text"], .login-tile input[type="password"], .login-tile select
  { border:1px solid #ccc; border-radius:6px; padding:5px; display:block; width:100%; box-sizing: border-box;}
  .login-tile input[type="text"]:focus, .login-tile input[type="password"]:focus, .login-tile select:focus {
  border-color: #0059a0;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6); outline: 0 none;}
  .login-tile input[type="submit"]{ background: rgba(0, 0, 0, 0) url("../images/login-btn.png") no-repeat scroll left top;
  border: 0 none; float: right; cursor:pointer; height: 29px;  margin: 10px 5px 0 15px; text-indent: -10000px; width: 71px;}
  .remember{ display: inline-block;  margin: 13px 0 0 5px;}
  .remember > span {  float: right;  margin: 2px 0 0 5px;}
  
  /*****************  Tabing CSS  **********************/
  .tabbox{ width:32%;}
  .tabbox{ background:#fff; padding:0 5px;}
  .tabbox .SigninBox{ padding:0 5px 10px;}
  .SigninBox .gold{color:#d3ad6a; text-decoration:underline;}
  .tabbox .detail{ padding:10px 0;}
  .tabbox .DateAs{font-size:12px; color:#0059a0; margin-top:7px;}
  .table1 { padding-top: 5px;}
  .table2 { padding-top: 10px;}
  .SigninBox p{ padding:5px 0 0; color:#505153; font-size:13px; line-height:15px; margin:0px;}
  .custom-tab-content{ padding:0 5px; background:#eeefe8;}
  .nav-tabs.custom-nav-tabs > li > a { background:#333; color:#fff; border: 1px solid transparent; border-radius:0px !important; margin-right: 2px;}
  .nav-tabs.custom-nav-tabs > li.active > a, .nav-tabs.custom-nav-tabs > li.active > a:focus, .nav-tabs.custom-nav-tabs > li.active > a:hover {
  background-color: #0059a0; border-color: #0059a0 #0059a0 transparent;	color:#fff;}
  .nav.custom-nav-tabs > li > a { display: block; padding:2px 5px; position: relative; font-size:11px;}
  .nav.custom-nav-tabs > li > a:focus, .nav.custom-nav-tabs > li > a:hover { background-color: #0059a0;}
  .nav-tabs.custom-nav-tabs > li > a:hover { border-color: #0059a0 #0059a0 #0059a0;}
  .nav-tabs.custom-nav-tabs {border-bottom: 2px solid #0059a0; padding:0 10px;}
  .achieve{ font-size:11px; color:#333; margin-right:10px;}
  .monthlyachieve{ font-size:14px; color:#0059a0; margin:0 0 5px;}
  .tablescroll{height:200px; overflow-x: hidden; overflow-y: scroll;}
  .announcement img { width: 100%; display:block;}
  .custom-table{ background:#fff; padding:5px;}
  .custom-table td{ padding:3px; font-size:11px; border-top:2px solid #eeefe8; border-right:2px solid #eeefe8;}
  .meter {   background: #333 none repeat scroll 0 0;    height: 10px;    margin: 5px 0 5px;    position: relative;}
  .meter.orange > span {  background-color: #0059a0; width:20%;}
  .meter > span {  background-color:#0059a0;  display: block;  height: 100%;  overflow: hidden; position: relative;}
  .custom-tab-content .tab-pane.fade.active.in{min-height:264px;}
  /************** Accordian ***************/
  .custom-panel-group{ padding:2% 7%; margin:0px !important; min-height:210px;}
  .custom-panel-body th{ color:#fff;}
  .custom-panel-group .panel-default > .panel-heading{ background:#f7f7f5; border-bottom:1px solid #0059a0;}
  .custom-panel-group .panel-heading { border-bottom: none; border-top-left-radius: 0px;  border-top-right-radius: 0px;
  padding: 0px; border:0 none;}
  .custom-panel-group .panel-title {color:#0059a0; font-size: 14px; font-weight: bold; padding: 0 0 5px; text-transform: uppercase;}
  .custom-panel-group .panel-title a{ display:block;}
  .custom-panel-group .panel-title a:hover, .custom-panel-group .panel-title a:focus{ text-decoration:none; outline:none;}
  .custom-panel-group .panel-default { border-color:#f7f7f5;}
  .custom-panel-group .panel{ box-shadow:none;}
  .custom-panel-group .panel-body{ padding:0px; background:#f7f7f5;}
  .custom-panel-body td{ border:1px solid #ddd; padding:1px 0; font-size:11px; text-align:center; font-weight:bold;}
  .custom-panel-body th{ padding:1px 0; font-size:11px; text-align:center; font-weight:bold;}
  .custom-panel-group .panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #f7f7f5;}
  .custom-panel-group .collapse.in { margin: -1px;}
  .PlusIcon.pull-right { border: 1px solid #0059a0; border-radius: 50%; padding:0px 4px;}
  
  /*****************  Gallery CSS  *********************/
  
  .gallery-box{ margin:4px 0; width:100%;}
  .gallery-box ul{ width:100%; display:block; margin:0px; padding:0px;}
  .gallery-box ul .title{ font-size:14px; font-weight:bold; background:#f58220; padding:8px; text-align:center; color:#fff; text-transform:uppercase;}
  .gallery-box li{display: inline-block; width: 24.6%; box-sizing:border-box; 
  -webkit-transition: all 100ms ease-in;
	  -webkit-transform: scale(1.0);
	  -ms-transition: all 100ms ease-in;
	  -ms-transform: scale(1.0);   
	  -moz-transition: all 100ms ease-in;
	  -moz-transform: scale(1.0);
	  transition: all 100ms ease-in;
	  transform: scale(1.0);
	  }
	  
  .gallery-box img { display: block; width: 100%;}
  .gallery-box li:first-child { margin-left: 0px;}
  .gallery-box li:hover
  {
	  box-shadow: 1px 1px 4px #999;
	  z-index: 2;
	  -webkit-transition: all 100ms ease-in;
	  -webkit-transform: scale(1.1);
	  -ms-transition: all 100ms ease-in;
	  -ms-transform: scale(1.1);   
	  -moz-transition: all 100ms ease-in;
	  -moz-transform: scale(1.1);
	  transition: all 100ms ease-in;
	  transform: scale(1.1);
	  cursor: pointer;
  }
  
  /**************  My Account  ************************/
  
  .myaccount-table { padding:10px;}
  .myaccount-table table{border-right:1px solid #ccc;}
  .myaccount-table tr{ border-bottom:1px solid #ccc;}
  .myaccount-table td, .myaccount-table th{ padding:5px; text-align:center; border-left:1px solid #ccc;}
  .myaccount-table th{ color:#fff;}
  .myaccount-table tr:last-child{ color:#fff;}
  .quote{ background:#0366b0; width:50%; margin:-4px auto 40px auto; border-bottom-left-radius:30px; border-bottom-right-radius:30px;}
  .quote p{ text-align:center; color:#fff; font-size:20px; padding:10px 20px;}
  .quote .call{ font-size:24px;}
  ul.faqtxt{ margin:0px; padding:10px 30px; overflow:scroll; overflow-x:hidden; height:300px; margin:20px;}
  .faqtxt li{ background:url(../images/bullet.png) no-repeat top left; padding-left:40px;}
  .faqtxt li h1{color:#505153; font-size:14px; font-weight:bold; margin:0px 0 5px;}
  .faqtxt li p{color:#505153; font-size:12px; font-weight:bold;}
  .uploadeditbtn {
	  position: relative;
	  margin: 0 0 0 0px;
	  padding: 0;
  }
  .uploadeditbtn a{ display:inline-block; margin:0 10px;}
  .uploadeditbtn span.upload, .uploadeditbtn span.editpic {
	  position: absolute;
	  bottom: -10px;
	  z-index:1;
	  display: block;
	  margin: 0;
	  padding: 0;
	  color: #444;
	  font-size: 14px;
	  text-decoration: none;
	  text-align: center;
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
	  opacity: 0;
  }
  .uploadeditbtn span.upload {left: -10px;}
  .uploadeditbtn span.editpic {left: 65px;}
  
  .uploadimg {width:47px; height:42px; background:url(../images/uploadphoto.png) no-repeat top left !important;}
  .uploadimg:hover { width:47px; height:42px;background:url(../images/uploadphoto-hover.png) no-repeat top left !important;}
  .editimg { width:47px; height:42px; background:url(../images/editphoto.png) no-repeat top left !important;}
  .editimg:hover { width:47px; height:42px; background:url(../images/editphoto-hover.png) no-repeat top left !important;}
  
  .uploadimg, .editimg { margin: 0; padding: 0;background: #fff; overflow:hidden;}
  
  .uploadimg:hover+span.upload, .editimg:hover+span.editpic {
	  bottom: -20px;
	  opacity: 1;
  }
  /*******************  News & Event  ******************/
  
  ul.newsevent{ margin:30px 0 0; padding:10px; overflow:scroll; overflow-x:hidden; height:600px;}
  .newsevent li{  display: inline-block; margin:14px; width: 30%;}
  .newsevent li h1{ margin:0px; background:#f5f5f5; font-size:20px; font-weight:bold; text-align:center; padding:10px;}
  .newsevent > li img { width: 100%; display:block;}
  .custom-pagination .pagination > li > a:focus, .custom-pagination .pagination > li > a:hover, .custom-pagination .pagination > li > span:focus, .custom-pagination .pagination > li > span:hover { background-color: #0059a0; border-color: #0059a0;
  color:#fff;}
  
  /************************  Reward Gallery  ***********************/
  .product-box{ padding:10px 20px;}
  .product-filter { background: #f1f1eb; padding: 15px;}
  .custom-form-input{ display:inline-block !important; width:48% !important;}
  .search-icon.input-group-btn:last-child > .btn, .search-icon.input-group-btn:last-child > .btn-group {
  margin-left: -1px;  margin-top: 22px;  z-index: 2;}
  .slider.slider-horizontal { margin-top: 8px;}
  .repeat-bg{ background:url(../images/repeat-bg.jpg) repeat-x left center; color:#fff; font-size:22px; font-weight:bold; padding:5px 10px; margin:10px 0px;}
  .pointtxt{ color:#333; font-size:14px;  margin:15px 0px;}
  ul.product-listing{ width:100%; margin:0px; padding:0px; list-style:none;}
  .product-listing li{ border: 1px solid #ccc;  display: inline-block; width: 47%; margin-bottom:15px;}
  .product-listing .mrgrht{ margin-right:15px;}
  .product-listing li .product{ text-align:center;}
  .chkbox{padding:0 8px;}
  .desc{ background:#f1f1eb; padding:15px 8px; margin-top:5px;  text-align:center;}
  .desc p{ font-size:12px; color:#333; padding:0px; line-height:16px; margin-bottom:5px;}
  .redeem.btn-default {  background-color: #f6802b; font-size:12px;  border-color: #f6802b;  color: #fff; margin:10px 5px 0 5px;}
  .reward.btn-default{  background-color: #005ea6;  font-size:12px; border-color: #005ea6;  color: #fff; margin:10px 5px 0 5px;}
  .category-box{ background: #f1f1eb none repeat scroll 0 0;  box-sizing: border-box;  margin: 0 4px; }
  .category-box .title{ font-size:14px; font-weight:bold; background:#0059a0; padding:8px; text-align:center; color:#fff; text-transform:uppercase;}
  .category-box ul{ margin:0px; padding:20px;}
  .category-box ul li{background: rgba(0, 0, 0, 0) url("../images/plus-icon.png") no-repeat scroll left top;
  font-size: 12px; padding:0px 0 10px 20px;}
  .category-box ul li a{ color:#333; }
  .product-filter input[type="text"]:focus, .product-filter select:focus {
  border-color:#0059a0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6); outline: 0 none;}
  .custom-input-group.input-group .form-control:not(:first-child):not(:last-child), .custom-input-group.input-group-addon:not(:first-child):not(:last-child), .custom-input-group.input-group-btn:not(:first-child):not(:last-child){border-top-left-radius:4px !important; border-bottom-left-radius:4px!important;}
  .brand{ color:#005ea6;}
  a.wishlist-btn, a.cart-btn{ background:#005ea6; color:#fff; font-size:16px; padding:0px 15px; line-height:46px; cursor:pointer;}
  a.wishlist-btn:hover, a.cart-btn:hover{ color:#fff; text-decoration:none;}
  a.wishlist-btn{ border-top-right-radius:25px !important; border-bottom-right-radius:25px!important;}
  a.cart-btn{ border-top-left-radius:25px !important; border-bottom-left-radius:25px !important;}
  .btnmrgn{ margin:0 5px;}
  .spacer{ display:block; height:50px; width:100%;}
  
  
  /*******************************  Partner Registration  *******************************/
  .partner-reg{padding:10px 20px;}
  .partner-reg-form-box { width: 60%;}
  .partner-reg-form-box h1{ font-size:18px; color:#333; font-weight:bold; margin:10px 0 30px;}
  .partner-reg-form-box input[type="text"], .partner-reg-form-box input[type="password"], .partner-reg-form-box select, .partner-reg-form-box textarea{ border:1px solid #ccc; border-radius:6px; padding:5px; display:block; width:100%; box-sizing: border-box;}
  .partner-reg-form-box input[type="text"]:focus, .partner-reg-form-box input[type="password"]:focus, .partner-reg-form-box select:focus, .partner-reg-form-box textarea:focus { border-color: #0059a0;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6);
   outline: 0 none;}
   .partner-reg-form-box input[type="submit"] {
	  background: rgba(0, 0, 0, 0) url("../images/submit.png") no-repeat scroll left top;
	  border: 0 none;
	  cursor: pointer;
	  height: 36px;
	  margin: 10px 5px 0 0px;
	  text-indent: -10000px;
	  width: 108px;
  }
  .dependent-profile input[type="submit"] {
	  background: rgba(0, 0, 0, 0) url("../images/dependent-profile.png") no-repeat scroll left top;
	  border: 0 none;
	  cursor: pointer;
	  height: 36px;
	  margin: 10px 5px 0 0px;
	  text-indent: -10000px;
	  width: 180px;
  }
  
  /********************  Event Page  *********************/
  .event-box { padding: 10px 20px; height:580px; overflow:scroll; overflow-x: hidden;}
  .mycarousel.carousel-control.left, .mycarousel.carousel-control.right{ display:inline-block;}
   .thumbnail {margin-bottom:6px;}
  .carousel-control.left,.carousel-control.right{
	background-image:none;
	margin-top:10%;
	width:5%;
  }
  
  /*****************  Footer CSS  *********************/
  
  footer{ padding:10px 10px 50px 10px;}
  .social-link, .inline-link, .poweredby{ width:33.3%; color:#505153; display:inline-block; box-sizing:border-box;}
  .inline-link a{ padding:0 5px; line-height:26px; border-left:1px solid #ccc; text-decoration:none; color:#505153; box-sizing:border-box;}
  .inline-link a:hover{color:#f79455; text-decoration:underline;}
  .inline-link a:first-child{border-left:none;}
  .social-link a{ text-decoration:none; color:#333; padding:0 5px; }
  .poweredby a{text-decoration:none; color:#f79455; box-sizing:border-box; line-height:26px;}
  .poweredby a:hover{text-decoration:underline;}
  
  
  
  /*****************  Sales Dash CSS  *********************/
  .container-bg-sl{background:#fff; border:none; padding-top:3px;}
  .content-box-sl{ margin-top: 20px; width:100%; padding:0px; box-sizing:border-box; border:1px solid #cccccc; overflow:visible; }
  .content-box-sl .heading{width:100%; background:#fed79e; font-size:20px; padding:10px 20px; color:#4d4d4d; font-weight:bold;}
  .content-box-sl.gray { background:#f2f2f2; }
  .content-box-sl.gray.tb table { text-align:center; border-color:#cbcbcb; color:#666666; margin-bottom:20px;}
  .content-box-sl.gray.tb table th {padding:10px; text-align:center; font-weight:bold; border-color:#cbcbcb;}
  .content-box-sl.gray.tb table td {padding:5px; border-color:#cbcbcb;}
  .content-box-sl.gray.tb table td a {color:#666666; border-color:#cbcbcb;}
  .tier15{background:#b3b3b3; color:#323232; border-color:#cbcbcb;}
  .tier16{background:#4d4d4d; color:#FFF; border-color:#cbcbcb;}
  .tier17{background:#019245; color:#FFF; border-color:#cbcbcb;}
  .blue_td{ color:#0060ae; border-color:#cbcbcb;}
  .orange_td{ color:#aa6124; border-color:#cbcbcb;}
  .green_td{ color:#009245; border-color:#cbcbcb;}
  
  .onoffdiv {width: 140px; height:40px; margin-left:20px; margin-top:10px}
  .onoffheading { display:block; text-align:center; width:120px; margin-bottom:3px; color:#333; font-size:9px;}
  .onofflabel{ float:left; font-size:9px; padding:5px 3px;color:#999; }
  .onoffswitch { position: relative; width: 34px;	float:left; -webkit-user-select:none; user-select:none; -moz-user-select:none; -ms-user-select: none; }
  .onoffswitch-checkbox {display: none;}
  .onoffswitch-label { display: block; overflow: hidden; cursor: pointer; border: 1px solid #ababab; border-radius: 20px; background:#4d4d4d; }
  .onoffswitch-inner { display: block; width: 100%; margin-left: -100%; transition: margin 0.3s ease-in 0s; }
  .onoffswitch-inner:before, .onoffswitch-inner:after { display: block; float: left; width: 50%; height: 18px; padding: 0; box-sizing: border-box; }
  .onoffswitch-inner:before { content: ""; padding-left: 10px; background-color: #4d4d4d; color: #FFF; }
  .onoffswitch-inner:after { content: ""; padding-right: 10px; background-color: #4d4d4d; color: #FFF; text-align: right; }
  .onoffswitch-switch { display: block; width: 20px; margin: 0px; background: #FFF; position: absolute; bottom: 5px; border: none; border-radius: 20px; transition: all 0.3s ease-in 0s; border:solid 1px #4d4d4d;height: 20px; }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0; }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right: 0px; }
  
  .btn.year { text-align:center;	margin-left:30px; margin-top:20px; padding:3px 15px; font-size:18px; color:#4b4f50; font-weight:bold; border: 1px solid #919ca2; border-radius: 7px; background: #faffff; background: -moz-linear-gradient(top, #faffff 0%, #e5e9ec 50%, #d7dce0 51%, #fbffff 100%); 
	  background: -webkit-linear-gradient(top, #faffff 0%,#e5e9ec 50%,#d7dce0 51%,#fbffff 100%); 
	  background: linear-gradient(to bottom, #faffff 0%,#e5e9ec 50%,#d7dce0 51%,#fbffff 100%); 
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffff', endColorstr='#fbffff',GradientType=0 ); /* IE6-9 */
  }
  .btn.year:hover { color:#045499;}
  #sales-graph-1, #reg-graph-1, #pro-graph-1, #reg-graph-2, #pro-graph-2, #reg-graph-3, #pro-graph-3 { overflow:hidden; left:0;}
  /* #reg-graph-1, #pro-graph-1, #reg-graph-2, #pro-graph-2, #reg-graph-3, #pro-graph-3 {} */
  #reg-graph-1, #pro-graph-1,  #reg-graph-3, #pro-graph-3 { opacity:.2; }
   g.highcharts-legend {display: block;}
  .regional_heading, .product_heading { font-size:16px; color:#0060b2; margin-left:40px; margin-top:20px;  height: 30px;}
  .line_div{ background:url(../images/line.jpg) repeat-x; width:75%; height:18px; float:left; margin-left:5px;}
  .product_heading .line_div{ background:url(../images/line.jpg) repeat-x; width:62%; height:18px; float:left; margin-left:5px;}
  
  /*.regional_heading{ position:relative; z-index:99; top:80px; left:50px; font-size:16px; color:#0060b2;}
  .product_heading{ position:relative; z-index:99; top:400px; left:50px; font-size:16px; color:#0060b2;}*/
  
  
  /*****************  Sales Total CSS  *********************/
  .content-box-sd .heading img {float:left;}
  .content-box-sd.blue-hd .heading{background:#66a0ce;}
  .content-box-sd.orange-hd .heading{background:#f6b68a;}
  .content-box-sd.blue-hd .heading .total_no{ color:#003281;}
  .content-box-sd.orange-hd .heading .total_no{ color:#a96224;}
  .content-box-sd .heading .total_hd {display:block; margin-top:7px;}
  .total_no{ font-size:36px;}
  .content-box-sd{ margin-top: 20px; width:100%; padding:0px; box-sizing:border-box; border:1px solid #cccccc; overflow:visible; }
  .content-box-sd .heading{width:100%; background:#fed79e; font-size:14px; padding:10px 40px; color:#000000;}
  .content-box-sd.orange-hd.tb table { text-align:left; border-color:#cbcbcb; color:#666666; margin-top:20px;}
  .content-box-sd.orange-hd.tb table th {padding:10px; font-weight:bold; border-color:#cbcbcb; background:#fdf3eb;}
  .content-box-sd.orange-hd.tb table td {padding:10px; border-color:#cbcbcb; background:#FFFFFF;}
  .content-box-sd.orange-hd.tb table th a {color:#666666; border-color:#cbcbcb;}
  .content-box-sd.orange-hd.tb table th.blue-th{color:#0060ae;}
  .content-box-sd.orange-hd.tb table th.orange-th{color:#ee8639;}
  .content-box-sd.orange-hd.tb table td.blue-th{color:#0060ae; text-align:right;}
  .content-box-sd.orange-hd.tb table td.orange-th{color:#ee8639; text-align:right;}
  
  .content-box-sd.green-hd .heading .green_head{width:200px; height:50px;}
  .content-box-sd.green-hd .heading {height:85px;}
  .content-box-sd.green-hd .heading img {float:left;}
  .content-box-sd.green-hd .heading .total_no{ color:#009244;}
  .content-box-sd.green-hd .heading{background:#bbde8e; font-size:14px; padding:10px 40px; color:#000000;}
  .mem_btn{ padding-top:15px; }
  #mem_red{ width:150px; margin-right:10px; border: solid 2px #FFFFFF; border-radius:7px;}
  #mem_log{width:150px; margin-right:10px; border: solid 2px #FFFFFF; border-radius:7px;}
  #mem_red.active{ background:#999999; cursor: default; pointer-events: none;}
  #mem_log.active{ background:#999999; cursor: default; pointer-events: none;}
  #mem_red.inactive{ background:#39b54a;}
  #mem_log.inactive{ background:#0060ae;}
  .bordr { border:solid 1px rgba(215,215,215,1.00);}
  
  
  /*****************  Redemption CSS  *********************/
  .content-box-sl.green .heading{ background:#a0a618; color:#FFF;}
  .content-box-sl.green .heading a{ color:#FFF;}
  .content-box-sl.green {background:#f2f2f2; }
  .overview {padding:10px}
  .overview .col-lg-4, .overview .col-sm-4, .overview .col-md-6, .overview .col-sm-12, .overview .col-xs-4 {
	  padding-right: 5px;  padding-left: 5px; }
  .overview{margin-top:20px; align-content:center; text-align:center;}
  .overview .row { margin-right: -5px; margin-left: -5px;}
  .arrow {margin:70px auto 0 auto;}
  .arrow img {display: block; margin-left: auto; margin-right: auto}
  .content-box-sl.green.tb table { text-align:center; border-color:#cbcbcb; color:#666666; margin-bottom:0px;}
  .content-box-sl.green.tb table th {padding:10px; text-align:center; font-weight:bold; border-color:#cbcbcb;}
  .content-box-sl.green.tb table td {padding:10px; border-color:#cbcbcb; background:#FFFFFF;}
  .content-box-sl.green.tb table th a {color:#666666; border-color:#cbcbcb;}
  .green_rw{color:#009245; margin-top:20px; display:block;}
  .green_r{color:#009245;}
  
  
  /*****************  leaderbound CSS  *********************/
  .row1 {	-moz-column-width: 30em; column-width: 30em; -webkit-column-width: 30em; column-gap:1em; -moz-column-gap: 1em; -webkit-column-gap:1em; margin: 20px; margin-bottom: 10px;}
  .item {	display: inline-block;	/*! padding: .25rem; */ width: 100%; margin-bottom:10px; }
  .well1 { position:relative; display: block; padding: 0;}
  .content-box-sl.blue-hd .heading{background:#7fb9de;}
  .content-box-sl.blue-hd table {text-align:left; border-color:#cbcbcb; color:#666666; margin-bottom:0px;}
  .content-box-sl.blue-hd table th {padding:10px; text-align:left; font-weight:bold; border-color:#cbcbcb; background:#e8e8e8;}
  .content-box-sl.blue-hd table td {padding:10px; border-color:#cbcbcb; background:#FFFFFF;}
  .table_head{text-align:left;}
  .table_head h4{color:#0077c3; font-weight:bold;}
  .content-box-sl.blue-hd .drop_down{border: solid 1px #0077c3; color:#333333; padding:5px; border-radius:5px; background: #f8fbfd; background: -moz-linear-gradient(top, #f8fbfd 0%, #cacaca 100%); background: -webkit-linear-gradient(top, #f8fbfd 0%,#cacaca 100%);
  background: linear-gradient(to bottom, #f8fbfd 0%,#cacaca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbfd', endColorstr='#cacaca',GradientType=0 );}
  .content-box-sl.blue-hd table th.green-th{color:#20995b;}
  .content-box-sl.blue-hd table td.green-th{color:#20995b;}
  .download{ float:right; font-size:11px; white-space: nowrap; display:table; margin-top:5px;}
  a.download , a.download:hover{ color:#626262; }
  .download:after { padding:0 0 0 5px; content: url(../images/download_icon.jpg);}
  select > .placeholder { display: none;}
  .table_head select { display:inline-block;  margin-bottom:5px;  margin-right:5px; }
  .fadeout {opacity:.5;}
  
  
  /***** Targetvsachievement ****/
  .circleValue { position: absolute; width: 100%; margin: -130px 0 0 -10px; }
  .circleValue p { font-size: 3.5em; display: inline-block; font-style:italic; line-height:0.6em; }
  .circleValue p span{ font-style:normal; font-size: 0.4em; font-weight:bold;}
  body{min-width:320px;}
  .content-box-st {
	  background:#f2f2f2; 
	  color:#4d4d4d;
	  padding-bottom: 10px;
  }
  .content-box-st .heading { text-align:center; font-size:18px; font-weight:bold; padding:20px; }
  .content-box-sm .heading { text-align:center; font-size:18px; font-weight:bold; padding:20px; }
  .content-box-st .target { float:left; margin-top:5%; margin-left:10%; }
  .content-box-st .remaining { float:right; margin-top:5%; margin-right:10%; text-align:right; }
  .number{font-weight:bold;}
  .content-box-st.green_sr .heading {background:#c5e29f;}
  .content-box-st.orange_sr .heading {background:#fbc98e;}
  .content-box-st.red_sr .heading {background:#f8ac92;}
  .content-box-sm.blue_sr .heading {background:#94d5f1;}
  /* .content-box-sm.blue_sr > div{
	  ! background:#f2f2f2;
  } */
  .graph_sr { 
	  margin-top:20px;
  }
  .content-box-st.aqua1_sr .heading {background:#7fd4cd;}
  .content-box-st.aqua2_sr .heading {background:#7fb39c;}
  .content-box-sm.blue_sr .arrow_left{ position:absolute; left:20px; top:50%; z-index:50; }
  .content-box-sm.blue_sr .arrow_right { position:absolute; right:20px; top:50%; z-index:50; }
  
  #carousel-occasional-lg .carousel-control.left, #carousel-occasional-lg .carousel-control.right {/*! display:block; */ background:none; margin-top: 0%;display: flex;/*! vertical-align: middle; */align-items: center;justify-content: center;}
  #carousel-occasional-sm .carousel-control.left, #carousel-occasional-sm .carousel-control.right {display:block; background:none; margin-top: 18%;}
  #carousel-occasional-xs .carousel-control.left, #carousel-occasional-xs .carousel-control.right {display:block; background:none; margin-top: 25%; width: 10%;}
  
  .targetvsAcheivements table {margin: 10px 10% 15px 10%;}
  
  #campaign-corousel
  {
	  transition: transform 1s;
  }
  
  #carousel-occasional-lg
  {
	  overflow: hidden;
  }
  
  /* DISPLAY CONTEST*/
  .display_contest{
	  padding-bottom: 33px;
  }
  .display_contest.no-nav{
	  padding-top: 60px;
  }
  .display_contest ul.nav, .nav1{
	  padding: 0px;
	  text-align: center;
	  margin: 8px 0px 20px 0px;
  }
  
  .display_contest div.winner{
	  background-image: url("../images/2.jpg");
	  padding-top: 21px;
	  margin-top: 15px;
  }
  
  .display_contest ul.nav li, .nav1 li{
	  background-color: #cccccc;
	  width: 140px;
	  display: inline-block;
	  padding: 10px;
	  color: #fff;
	  border-radius: 20px;
	  cursor: pointer;
	  position: relative;
	  margin: 13px 17px;
  }
  .nav1 li{
	  width: 200px;
	  background-color: #5F5F5F;
  }
  .display_contest .winner ul.nav li{
	  margin-bottom: 0px;
  }
  .display_contest .winner h2{
	  text-align: center;
	  color: #0069c6;
	  font-weight:bold;
	  font-size: 3em;
  }
  .display_contest ul.nav li.active, .nav1 li.active{background-color: #0058a0;}
  .display_contest ul.nav li.active:after, .nav1 li.active:after{
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	  border-top: 20px solid #0058a0;
	  bottom: -21px;
	  left: 49px;
  }
  .nav1 li.active:after{
	  left: 80px;
  }
  .display_contest table{
	  width: 100%;
	  text-align: center;
  }
  .display_contest table td{
	 padding: 5px 10px;
	   border: 1px solid #d9d9d9;
  }
  .display_contest table thead td, .blue_head{
	  background-color: #ccdeec;
	   padding:10px;
	  color: #0058a0;
	  font-weight: bold;
	  vertical-align: top;
	  line-height: 1.5em;
	  position: relative;
	  cursor: pointer;
	  height: 73px;
	  font-size: 1em;
  }
  .display_contest table thead td .sort, .tml_champoins table th .sort{
	  transform: rotate(-90deg);
	  font-size: 1.2em;
	  position: absolute;
	  bottom: 10px;
	  right: 20px;
	  display: none;
  }
  .tml_champoins table th .sort{
	  bottom: -5px;
  }
  .display_contest table.contest_table td:first-child{
	  padding-left: 0px;
  }
  .display_contest table.contest_table{
	  border: 1px solid #ddd;
  }
  .display_contest table.contest_table td{
	border-top: none;
	  border-bottom: none;
  }
  
  .display_contest table.contest_table td a{
	  text-decoration: underline;
  }
  .tml_champoins table th .sort.active, .tml_champoins table th:hover .sort, .display_contest table thead td .sort.active, .display_contest table thead td:hover .sort{
	  display: block;
  }
  .display_contest table thead td .sort.active.reverse, .tml_champoins table th .sort.active.reverse{
	  transform: rotate(90deg);
  }
  .display_contest table tbody td a.pending{
	  color: #f06524;
  }
  .table_wrapper{
	  width: 100%;
	  min-width: 100%;
	  overflow-x:auto;
  }
  
  .display_contest .dist_info h2{
	  color: #0069c6;
  }
  .display_contest .dist_info span.divider{
	  margin: 0px 10px;
  }
  .center-text{
	  text-align: center;
  }
  .display_contest .album_list ul{
	  padding: 0px;
	  margin: 0px;
  }
  
  .display_contest .album_list ul table{
	  height: 100%;
  }
  .display_contest .album_list{
	  border: 1px solid #eaeaea;
  }
  .display_contest .fs_gallery .body{
	  width: 100%;
	  max-width: 700px;
	  position: relative;
	  background: #444;
	  height: 400px;
  }
  .display_contest .fs_gallery button.left, .display_contest .fs_gallery button.right{
	  width: 50px;
	  height: 100px;
	  font-size:4em;
	color: #fff;
	  text-shadow: 0px 1px 1px #444;
	  background: transparent;
	  border: none;
	  top: 35%;
	  position: absolute;
  }
  .display_contest .fs_gallery .image{
	  width: 100%;
	  height: 100%;
	  text-align: center;
  }
  .display_contest .fs_gallery .image img{
	  max-width: 700px;
	  max-height: 400px;
  }
  .display_contest .fs_gallery .image table{
	  width: 100%;
	  height: 100%;
  }
  .display_contest .fs_gallery .image table td{
	  border: none;
	  vertical-align: middle;
	  text-align: center;
	  padding: 0px;
  }
  .display_contest .fs_gallery button.close{
	width: 39px;
	  height: 36px;
	  color: #fff;
	  opacity: 1;
	text-shadow: 0px 1px 1px #444;
	position: absolute;
	top: 0px;
	right: 0px;
  }
  .display_contest .fs_gallery button.left {left: 0px}
  .display_contest .fs_gallery button.right{right: 0px;}
  .display_contest .album_list > ul > li{
	  width: 25%;
	  /* display: inline-block; */
	  height: 211px;
	  vertical-align: top;
	  border: 1px solid #eaeaea;
	  margin: 0px;
	  float: left;
	  padding: 10px 0px;
	  position: relative;
	  cursor: pointer;
  }
  .display_contest .album_list li .gallery{
	  height: 100%;
	  position: relative;
	  padding: 0px;
	  width: 102%;
  }
  .display_contest .album_list > ul > li:first-child{
	width: 19%;
  }
  .display_contest .album_list > ul > li:last-child{
	width: 81%;
	  padding: 0px;
	overflow: hidden;
  }
  .display_contest .alert{
	  margin: 1px 0px;
  }
  .display_contest .album_list li .gallery li{
	  background-size: cover;
	  background-position: center center;
	  background-repeat: no-repeat;
	  width: 10%;
	  height: 100%;
	  float: left;
	  cursor: pointer;
	  transition: width 1s;
	  border: 2px solid #fff;
  }
  
  .display_contest .album_list li td{
	  border: none;
	  vertical-align: middle;
	  text-align: center;
  }
  .display_contest .album_list li h4{
	  color: #0069c6;
	  font-weight: bold;
	  font-size: 1.1em;
	  margin-bottom: 31px;
  }
  .display_contest .album_list li p{
	  font-size: 0.8em;
  }
  .display_contest .album_list li .checkbox{
	  height: 20px;
	  width: 20px;
	  border: 1px solid #aaa;
	  cursor: pointer;
	  margin:20px auto;
	  transition: background 0.3s;
  }
  
  .display_contest .album_list li .checkbox.active{
	  background-color: #0069c6;
	  border: none;
  }
  .display_contest .album_list li .checkbox.active:after{
	  content:'\2713';
	  color: #fff;
	  font-size: 0.8em;
  }
  .display_contest .album_list li .checkbox.inactive{
	  background-color: #fff;
  }
  .display_contest .album_list li:not(:last-child){
	  border-right: none;
  }
  .display_contest .album_cta{
	  padding: 26px 0px 10px 0px;
  }
  .tml_champoins .album_cta .paging button,.display_contest .album_cta .paging button{
	  background: none;
	  border: none;
	  font-weight:bold;
	  
	  color:#0069c6;
  }
  .tml_champoins .album_cta .paging button:disabled, .display_contest .album_cta .paging button:disabled{
	  color:#999;
  }
  .display_contest .CTA, .btn1{
	background-color: #5f5f5f;
	  border: none;
	  border-radius: 20px;
	  min-width: 130px;
	  min-height: 30px;
	  margin: 32px 0px 0px 10px;
	padding: 0px 19px;
	color: #fff;
  }
  .btn1{
	  margin: 1px;
  }
  .btn1.hasMargintop{
	  margin-top: 40px;
  }
  .display_contest .CTA.blueBtn{
	  background-color: #0058a0;
	  width: 120px;
  }
  
  .display_contest .winner_gallery{
	  /*! min-height: 629px; */
	  background-image: url('../images/1.jpg');
	  background-size: 100%;
	  background-position: bottom center;
	  background-repeat: no-repeat;
	  padding: 10px 0px;
  }
  .display_contest .slide_gallery{
	  position: relative;
	  width: 89%;
	  height: 457px;
	  margin: 0px auto;
  }
  .display_contest .slide_gallery table, .display_contest .thumb_gallery table{
	  height: 100%;
  }
  .display_contest .slide_gallery .images{
	  width: 90%;
	  margin: 0px auto;
	  height: 100%;
  }
  .display_contest .slide_gallery td, .display_contest .thumb_gallery td{
	  border: none;
	  vertical-align: middle;
  }
  .display_contest .slide_gallery .images img, .display_contest .thumb_gallery img{
	max-width: 100%;
	  max-height: 450px;
  }
  .display_contest .slide_gallery button.left, .display_contest .slide_gallery button.right{
	  position: absolute;
	  top: 0%;
	  width: 5%;
	  height: 100%;
	  font-size: 4em;color: #999999;
	  background: transparent;
	  border: none;
  }
  
  .display_contest .slide_gallery button.left{left:0px}
  .display_contest .slide_gallery button.right{right:0px;}
  .display_contest .thumb_gallery li{
	  width: 31.3%;
	  height: 200px;
	  background-size: cover;
	  background-position: center center;
	  cursor: pointer;
	  display: inline-block;
	  transition: transform 0.5s;
	  margin: 0.5%;
  }
  .display_contest .thumb_gallery li.active{
	  transform: scale(0.95);
	  z-index: 2;
	  position: relative;
	  box-shadow: 0px 0px 6px 2px #444;
  }
  .display_contest .thumb_gallery{
	  width: 79%;
	  margin: 13px auto 0px auto;
	  padding: 0px;
  }
  .display_contest .contest_status{
	  background: #d3d3d5;
	  width: 100px;
	  height: 50px;
	  position: relative;
	  vertical-align: middle;
	  display: inline-block;
  }
  .display_contest .contest_status .handle{
	  width: 10px;
	  height: 100%;
	  background: #6c6d71;
	  position: absolute;
	  top: 0px;
	  right: 0px;
  }
  .display_contest .contest_status.active{
	  background: #b3dfc8;
  }
  .display_contest .contest_status.active .handle{
	  background: #009649;
  }
  .display_contest .contest_status_thumb{
	  width: 60px;
	  height: 50px;
	display: inline-block;
	  vertical-align: middle;
	  margin: 0px 20px;
  }
  .display_contest .contest_name{
	  padding:5px 0px;
	  font-weight: bold;
	  color: #474747;
  }
  .backThumb{
	  background-size: cover;
	  background-position: center center;
  }
  .left-text{
	  text-align: left;
  }
  .display_contest .closed{
	  color: #111;
  }
  .display_contest table.contest-desc td{
	  padding: 15px 15px;
	  color: #444;
	  line-height: 1.6em;
  }
  .display_contest .album_upload .items{
	  width: 330px;
	  display: inline-block;
	  vertical-align: top;
	  margin: 25px 17px;
	  cursor: pointer;
  }
  .display_contest .album_upload h4{
	  margin: 26px 0px;
	  text-transform: uppercase;
	  font-size: 1.1em;
  }
  .display_contest .album_upload .items table{
	  width: 100%;
  }
  .display_contest .album_upload .items table td{
	  padding: 0px;
	  height: 293px;
  }
  .display_contest .album_upload .items table td img{
	  max-height: 292px;
	  max-width: 328px;
  }
  .display_contest .confirm .body{
	  background-color: #fff;
	  max-width: 600px;
	  width: 100%;
	  padding: 26px;
  }
  .display_contest .confirm .body h4{
	  font-size: 1.2em;
	  line-height: 1.7em;
  }
  .display_contest .album_upload table{
	  margin: 10px 0px 0px 0px;
  }
  .display_contest.referal .blue_head, h2.blue_head{
	  font-size: 1.5em;
	  height: auto;
	  padding: 15px 0px;
	  cursor: default;
  }
  .display_contest.referal label{
	  font-size: 1.2em;
  }
  
  .display_contest.referal table.formTable td{
	  border: none;
	  text-align: left;
	  vertical-align: top;
  }
  .display_contest.referal table.formTable td:first-child{
	  width: 24%;
	  padding: 10px 0px;
  }
  .display_contest.referal table.formTable td textarea,.display_contest.referal table.formTable td input,.display_contest.referal table.formTable td select{
	  width: 100%;
	  height: 35px;
	  padding-left: 10px;
  }
  .tml_regn input:disabled, .display_contest button.CTA.blueBtn:disabled, .display_contest button.CTA.blueBtn.inactive,.display_contest.referal textarea:disabled,.display_contest.referal input:disabled, .display_contest.referal select:disabled, .display_contest.referal select:disabled{
	  background-color: #aaa;
	  border: none;
	  color: #fff;
  }
  
  .display_contest.referal table.formTable td textarea{
	  padding: 14px 10px;
	  min-height: 131px;
  }
  .display_contest.referal table td input.CTA{
	  margin-top: 10px;
	  width: 140px;
  }
  
  .tml_regn fieldset{
	  display: inline-block;
	  vertical-align: top;
	  /*! background: rgba(0,0,0,0.1); */
  }
  
  .tml_regn fieldset.padded label{
	  padding-left: 20px;
  }
  .tml_regn option, select option{
	  padding: 5px 10px;
  }
  .tml_regn .three_four{
	  width: 66.6%;
  }
  .tml_regn fieldset.three_four .input,.display_contest.tml_regn fieldset.three_four select,.display_contest.tml_regn fieldset.three_four input,.display_contest.tml_regn fieldset.three_four textarea{
	  width: 81%;
  }
  .tml_regn fieldset.three_four textarea{
	  height: 70px;
  }
  .tml_regn textarea{
	  padding-top: 10px;
  }
  .tml_regn fieldset.one_four .input, .tml_regn fieldset.one_four .photo, .tml_regn fieldset.one_four input, .tml_regn fieldset.one_four select{
	  width: 62.4%;
	  display: inline-block;
  }
  .tml_regn fieldset .input input{
	  width: 100%;
	  z-index: 1;
	  margin: 0px;
	  position: relative;
	  border: none;
  }
  
  .tml_regn fieldset .input.checkbox input{
	  width: 13px;
  }
  .tml_regn fieldset .input.checkbox{
	  height: auto;
  }
  .tml_regn fieldset .input.checkbox li{
	  display: inline-block;
	  min-width: 170px;
  }
  .tml_regn fieldset .input{
	  position: relative;
	  vertical-align: middle;
	  display: inline-block;
	  margin: 15px 0px;
	  height: 33px;
  }
  
  .tml_regn fieldset .input.multiselect, .tml_regn fieldset .input.mobile, .tml_regn fieldset .input.search, .tml_regn fieldset .input.date, .tml_regn fieldset .input.fileUpload{
	  border: 1px solid #aaa;
  }
  .tml_regn fieldset .input.multiselect{
	  height: auto;
	  position: relative;
  }
  .tml_regn fieldset .input.multiselect .option_list{
	  overflow-y: hidden;
	  margin-top: -1px;
  }
  .tml_regn fieldset .input.multiselect .option_list .searchBox{
	  /* background: #eee; */
	  position: relative;
	  box-shadow: 0px 0px 4px 1px #aaa;
  }
  .tml_regn fieldset .input.multiselect .option_list .searchBox input{
	  height: 50px;
	  width: 100%;
	  color: #444;
	  padding-left: 20px;
  }
  .tml_regn fieldset .input.multiselect .option_list .searchBox input:focus{
	  outline:none;
  }
  .tml_regn fieldset .input.multiselect .option_list .searchBox .glyphicon{
	  position: absolute;
	  top: 15px;
	  color: #aaa;
	  right: 15px;
  }
  .tml_regn fieldset .input.mobile button{
	  border-radius: 0px;
  }
  .tml_regn fieldset .input:after{
	  width: 17px;
	  position: absolute;
	  right: 9px;
	  height: 100%;
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center center;
	  z-index: 0;
	  top: 0px;
	  content: '';
  }
  .tml_regn fieldset .date.input:after{
	  background-image: url('../images/calendar_icon.png');
  }
  
  .tml_regn fieldset .search.input:after{
	  background-image: url('../images/search.png');
  }
  
  .tml_regn fieldset.one_four .photo table,.display_contest.tml_regn fieldset.one_four .photo td{
	  width: 100%;
	  height: 218px;
	  vertical-align: middle;
	  border:none;
	  text-align: center;
	  padding: 0px;
  }
  .tml_regn fieldset.one_four label{
	  width: 36%;
  }
  .tml_regn fieldset.three_four label{
	  width: 18%;
	  vertical-align: middle;
  }
  .tml_regn fieldset.one_four .photo input{
	  position: absolute;
	  bottom: 0px;
	  width: 100%;
	  left: 0px;
	  margin: 0px;
  }
  
  .tml_regn .one_four{
	  width: 33.05%;
  }
  .tml_regn .four_four{
	  width: 100%;
	  overflow-y: hidden;
  }
  .tml_regn .four_four textarea{
	  width: 87%;
	  min-height: 80px;
  }
  .tml_regn .four_four label{
	  width: 12%;
  }
  .tml_regn .four_four .input, .tml_regn .four_four input,.display_contest.tml_regn .four_four select{
	  width: 87.2%;
  }
  .full-width{
	  width: 100%;
  }
  .tml_regn label{
	  color: #464646;
	  font-size: 0.9em;
	  vertical-align: middle;
	  font-weight: normal;
  }
  .tml_regn label.align-top{
	  vertical-align: top;
	  margin-top: 10px;
  }
  .tml_regn textarea,.display_contest.tml_regn input, .tml_regn select{
	  height: 31px;
	  padding-left: 10px;
	  margin: 15px 0px;
	  border: 1px solid #b3b3b3;
	  vertical-align: middle;
	  background: transparent;
  }
  .tml_regn .input.multiselect.disabled, .tml_regn input:disabled, .tml_regn textarea:disabled, .tml_regn select:disabled{
	  background:#aaa;
	  opacity: 0.6;
  }
  .tml_regn input[type="file"]{
	  padding: 0px;
	  border: none;
  }
  .tml_regn .photo{
	  display: inline-block;
	  vertical-align: top;
	  height: 220px;
	  position: relative;
	  margin: 5px 0px;
	  border: 1px solid #b3b3b3;
  }
  .tml_regn .photo img{
	  max-height: 100%;
	  max-width: 100%;
  }
  .tml_regn .photo .button{
	  position: absolute;
	  bottom: 0px;
	  width: 100%;
	  padding: 5px 0px;
  }
  .tml_regn fieldset .photo .button input{
	  background: #868686;
	  color: #FFF;
	  width: 80%;
	  height: 19px;
	  margin: 0px auto;
	  position: static;
	  text-align: center;
  }
  .tml_regn .photo input,.display_contest.tml_regn .photo input{
	  border: none;
	  padding: 2px 15px;
	  border-radius: 5px;
  }
  .tml_regn input[readonly]{
	  background-color: #eee;
  }
  .tml_regn .dirty input[readonly]{
	  font-weight: bold;
  }
  .tml_regn .input button.add-more{
	  width: 35px;
	  height: 35px;
	  border-radius: 50%;
	  background: #b9d4e9;
	  border: none;
	  font-size: 2em;
	  font-weight: bold;
	  right: auto;
	  color: #fff;
	  left: 0px;
  }
  .tml_regn .input.fileUpload{
	  border:1px solid #aaa;
	  height: 33px;
	  position: relative;
  }
  .tml_regn .input.fileUpload p{
	  
	  padding: 8px 6px;
	  color: #aaa;
  }
  .tml_regn .input.fileUpload input[readonly]{
	  background: transparent;
	  border: none;
  }
  .tml_regn .input button{
	  
	  float: right;
	  height: 100%;
	  border: none;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	  overflow: hidden;
	  z-index: 3;
  }
  .tml_regn .input button.normal{
	  position: static;
	  float: initial;
  }
  .tml_regn .input.fileUpload button{
	  background: #fff;
	  width: 20%;
  }
  .tml_regn .input.fileUpload button img{
	  width: 71%;
	  margin-top: 4px;
  }
  .tml_regn fieldset .tml_input .input{
	  margin: 4px 0px;
	  border-radius: 5px;
  }
  .tml_regn fieldset .tml_input input{
	  height: 31px;
	  width: 100%;
	  margin: 0px 0px;
  }
  .tml_regn .tml_input input[type="file"]{
	  height: auto;
	  width: 87%;
  }
  .tml_regn .tml_input .form-group{
	  padding: 5px 5px 5px 5px;
	  margin: 7px 0px;
	  position: relative;
  }
  .tml_regn .tml_input .form-group.error{
	  box-shadow: 0px 0px 5px 1px #f00;
  }
  .tml_regn .tml_input .form-group.error input{
	  background: #fff;
  }
  .tml_regn .tml_input .cta{
	  margin-top: 10px;
  }
  .tml_regn .tml_input .body{
	  padding: 20px;
  }
  .tml_regn .tml_input .form-group .close{
	  position: absolute;
	  top: 5px;
	  right: 0px;
	  width: 10%;
	  height: 30px;
	  z-index: 3;
  }
  .tml_champoins .table-responsive{
	  min-height: 304px;
	  opacity: 1;
	  transition: opacity 0.5s;
  }
  .tml_champoins .table-responsive.inactive{
	  opacity: 0;
  }
  .tml_champoins .blue_head{
	  padding: 24px 13px 24px 15px;
	  height: auto;
	  position: relative;
	  vertical-align: top;
	  cursor: default;
  }
  
  .tml_champoins table tr td.code, .tml_champoins table tr th.code{
	  width: 120px;
  }
  .tml_champoins table tr td.address{
	  width: 320px;
  }
  .tml_champoins .blue_head select{
	  width: 20%;
	  margin: 0px 2%;
	  height: 35px;
	  padding-left: 10px;
	  color: #444;
	  font-weight: normal;
	  cursor: pointer;
  }
  .tml_champoins .blue_head select:disabled{
	  background: #e3e3e3;
	  border: 1px solid #fff;
	  cursor: default;
  }
  .tml_champoins .list-inline li:not(:last-child):after{
	  content: '|';
	  margin: 0px 0px 0px 10px;
  }
  .tml_champoins .search{
	  
	  padding: 6px 0px;
  }
  .tml_champoins .search > div{
	  border-bottom: 1px solid #aaa;
	  padding: 1px 0px;
	  margin-bottom: 10px;
  }
  .tml_champoins .search input{
	  border: none;
	  width: 90%;
	  padding: 14px 10px;
  }
  .tml_champoins .search input:focus{
	  outline:none;
  }
  .tml_champoins .search .btn1{
	  max-width:230px;
	  width: 45%;
	  background: #bfbdbd;
  }
  .tml_champoins .search .btn1.active{
	  background: #555;
  }
  .tml_champoins .info_search{
	  padding: 21px 0px 0px 0px;
  }
  .tml_champoins .info_search h3{
	  margin: 0px;
  }
  .tml_champoins .table tbody tr{
	  cursor: pointer;
  }
  .tml_champoins .table .itemSearch{
	  width: 100%;
	  border-bottom: 1px solid #777d;
	  padding: 8px 10px;
  }
  .tml_champoins .table tbody tr.active td{
	  background: #cbcbcb;
  }
  .tml_regn .error{
	  color: red;
	  background: #cfcfcf;
	  display: inline-block;
	  padding: 10px 16px;
	  margin: 0px;
  }
  .winner_animation.pop-up > div{
	  background: #fff;
	  vertical-align: top;
  }
  .tml_regn .input.toggle .parent{
	  width: 80px;
	  height: 30px;
	  position: relative;
	  border-radius: 20px;
	  cursor: pointer;
	  padding: 3px;
	  transition: background 0.3s;
  }
  .tml_regn .input.toggle .parent.true{
	  background-color: #0059A0;
  }
  .tml_regn .input.toggle.disabled .parent.false .handle, .tml_regn .input.toggle.disabled .parent .handle, .tml_regn .input.toggle.disabled .parent.true, .tml_regn .input.toggle.disabled .parent.false{
	  background-color: #aaa;
	  opacity: 0.5;
	  color: #fff;
  }
  .tml_regn .input.toggle.disabled .parent.false p.false-text{
	  color: #fff;
  }
  .tml_regn .input.toggle .parent.false{
	  background-color: #81accf;
  }
  .tml_regn .input.toggle .handle{
	  width: 25px;
	  border-radius: 50%;
	  height: 26px;
	  background-color: #81accf;
	  transition: transform 0.2s, background 0.3s;
  }
  .tml_regn .input.toggle .parent.false .handle{
	  background-color: #0059A0;
  }
  .tml_regn .input.toggle p{
	  position: absolute;
	  top: 0px;
	  width: 100%;
	  height: 100%;
	  padding: 5px 5px;
	  text-align: center;
	  z-index: 1;
	  transition: opacity 0.3s;
	  font-size: 0.9em;
	  font-weight: bold;
	  margin: 3px 0px 0px 0px;
  }
  .tml_regn .input.toggle .parent.true p.false-text{
	  opacity: 0;
	  
  }
  .tml_regn .input.toggle .parent.true .handle{
	  transform: translate(48px,0px);
	  position: relative;
	  z-index: 2;
  }
  
  .tml_regn .input.toggle .parent.false p.true-text{
	  opacity: 0;
  }
  .tml_regn .input.toggle .true-text{
	  text-align: left;
	  padding-left: 10px;
	  color: #fff;
  }
  .tml_regn .input.toggle .false-text{
	  text-align: right;
	  padding-right: 20px;
	  color: #0059A0;
  }
  .tml_regn fieldset.three_four .input.toggle{
	  position: relative;
	  width: 100px !important;
  }
  .tml_regn fieldset.three_four label.toggle{
	  width: 47%;
  }
  .tml_regn fieldset .input.multiselect.disabled:after, .tml_regn .input.toggle.disabled:after{
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  height: 100%;
	  width: 100%;
	  z-index: 3;
  }
  .tml_regn .multiselect .head{
	  padding: 5px 51px 5px 5px;
	  position: relative;
	  min-height: 45px;
  }
  .tml_regn .multiselect .head .item{
	  width: auto;
	  background-color: #CCDEEC;
	  color: #283845;
	  border-radius: 20px;
	  overflow: hidden;
	  padding: 2px;
	  height: 30px;
	  position: relative;
	  margin: 1px 4px;
  }
  .tml_regn .multiselect .head .item p{
	  margin: 1px 30px 0px 10px;
	  line-height: 1.8em;
	  font-size: 0.9em;
  }
  .tml_regn .multiselect .head .dropdown-arrow{
	  position: absolute;
	  right: 0px;
	  height: 100%;
	  width: 52px;
	  top: 0px;
	  cursor: pointer;
	  z-index: 2;
  }
  .tml_regn .multiselect .head .dropdown-arrow:after{
		width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #575757;
	  content: '';
	  display: block;
	  margin: 21px auto 0px auto;
  }
  .tml_regn .multiselect .head .dropdown-arrow.expanded:after{
	  transform: rotate(180deg);
  }
  .tml_regn .multiselect .head .item .close{
	  width: 25px;
	  height: 25px;
	  right: 2px;
	  top: 2px;
	  background: #4283b6;
	  border-radius: 50%;
	  opacity: 1;
	  color: #fff;
  }
  .tml_regn .multiselect .option_list ul{
	  padding: 0px;
	  text-align: center;
  }
  .tml_regn .multiselect .option_list ul.hasTopMargin{
	  margin-top: 20px;
  }
  .tml_regn .multiselect .option_list ul li{
	  padding: 7px 30px;
	  background: #fff;
	  margin: 1px 0px 0px 0px;
	  cursor: pointer;
	  width: 308px;
	  display: inline-block;
	  margin: 2px 5px;
	  vertical-align: top;
	  font-size: 0.9em;
  }
  .tml_regn .multiselect .option_list ul li.inactive{
	  border:1px solid #aaa;
  }
  .tml_regn .multiselect .option_list ul h3.group-title{
	  background: #cecece;
	  padding: 10px 0px;
	  font-size: 1.6em;
  }
  .tml_regn .multiselect .option_list ul li:hover{
	  background: #eee;
  }
  .tml_regn .multiselect .option_list .table tr.active td, .tml_regn .multiselect .option_list ul li.active{
	  background:#bfd4e7;
	  cursor: default;
  }
  .tml_regn .multiselect .submit{
	  padding: 15px 10px;
  }
  .tml_regn .multiselect .submit button.CTA{
	  margin-top: 10px;
  }
  .tml_regn .multiselect .submit button.CTA:disabled{
	  background: #ccc;
  }
  .tml_regn .postSubmitBtn{
	  margin: 29px 0px 10px 0px;
  }
  .tml_regn .postSubmitBtn button{
	  width: 80px;
	  margin: 0px 0px;
  }
  .tml_regn .multiselect .option_list .table td{
	  border-left:0px;
	  border-right: 0px;
	  padding: 5px 10px;
	  font-size: 0.9em;
	  cursor: pointer;
  }
  
  .tml_regn .multiselect .option_list .table th{
	  text-align: center;
  }
  
  .excelForm .scroll-view{
	  margin: 0px 0px 11px 0px;
	  position: relative;
	  width: 100%;
	  overflow-x: auto;
  }
  
  .tml_regn .excelForm table{
	  max-width: initial;
	  display: block;
	  position: relative;
	  padding-top: 75px;
	  width: 4000px;
  }
  .tml_regn .excelForm table.table-custombordered{
	  border: none;
  }
  .tml_regn .excelForm table.table-custombordered thead > tr th:first-child,.tml_regn .excelForm table.table-custombordered th, .tml_regn .excelForm table.table-custombordered td{
	  border: 1px solid #444 !important;
	  width: 300px;
	  border-top: initial;
  }
  .tml_regn .excelForm table.table-custombordered tr.no-border td{
	  border: none !important;
  }
  .tml_regn .excelForm table.table-custombordered td.align-middle{
	  vertical-align: middle;
  }
  
  .excelForm .cell-input{
	  background-color: transparent;
	  padding-left: 15px;
	  min-height: 40px;
	  border: none;
	  height: 100%;
	  min-width: 140px;
	  margin: 0px;
	  width: 100%;
  }
  .excelForm table tr td.no-padding{
	  padding: 0px;
  }
  .excelForm .pre-filled{
	  background-color: #fdffb9;
  }
  
  .excelForm td, .excelForm thead, .excelForm tbody, .excelForm th {
	  display: block;
	  /* width: 100%; */
	  /* width: 4000px; */
  }
  
  .excelForm thead {
	  position :absolute;
	  top: 0px;
	  left: 0px;
	  /* width: 4000px; */
	  overflow-y: scroll;
	  overflow-x: hidden;
  }
  
  .excelForm table tr {
	  display: flex;
	  width: 3981px;
  }
  
  .excelForm tbody {
	  height: calc(100vh - 327px);
	  overflow-y: auto;
	  overflow-x: hidden;
  }
  
  
  #productDetails .modal-dialog{
	  width: 95%;
  }
  
  .product_group_lists li {
	  padding: 10px;
  }
  
  .create-pdf .terms-text {
	  height: 394px;
	  font-size: 0.7em;
	  padding: 20px;
  }
  
  .create-pdf .tata-motors-white {
	  max-width: 140px;
  }
  
  .create-pdf .genuine-parts {
	  width: 105px;
  }
  
  .create-pdf .download-btn {
	  background: linear-gradient(#ededed, #fff, #b4aeae);
	  color: #1f419b;
	  border:none;
	  height: 35px;
	  padding: 0px 15px;
	  border-radius: 10px;
	  font-weight: bold;
	  font-size: 13px;
  }
  
  .create-pdf .item-thum-stage {
	  height: 200px;
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  .create-pdf .item-thum-stage .image-item {
	  max-height: 187px;
	  max-width: 95%;
  }
  .create-pdf .cat-item{
	  transition: opacity 0.3s;
  }
  .create-pdf .cat-item.unchecked {
	  opacity: 0.4;
  }
  
  
  @media screen and (min-width: 1200px)
  {
	  .quarter
	  {
		 width: 380px;
		 float: left;
		 padding: 0px 3px;
	  }
	  
	  .halfBox
	  {
		  width: 50%;
		  float: left;
	  }
	  
	  .halfBox:nth-child(1)
	  {
		  padding-right: 15px;
	  }
	  
	  .halfBox:nth-child(2)
	  {
		  padding-left: 15px;
	  }
	  
	  .singleBox table
	  {
		  width: 25%;
		  margin: 0px 130px 0px 0px;
		  float: right;
		  transform:  translate(0px,-136px);
	  }
	  .singleBox .target
	  {
		  margin-left: 350px;
		  transform: translate(0px, 90px);
	  }
	  .singleBox .remaining
	  {
		  float: none;
		  text-align: center;
		  transform: translate(-340px, 130px);
		  display: block;
	  }
	  
  }
  
  @media screen and (max-width: 1199px) and (min-width: 992px)
  {
	  .quarter
	  {
		 width: 313px;
		 float: left;
		  padding: 0px 3px;
	  }
	  .halfBox
	  {
		  width: 50%;
		  float: left;
		  padding: 14px;
	  }
	  .singleBox table
	  {
		  width: 25%;
		  margin: 0px 90px 0px 0px;
		  float: right;
		  transform:  translate(0px,-136px);
	  }
	  .singleBox .target
	  {
		  margin-left: 350px;
		  transform: translate(-90px, 90px);
	  }
	  .singleBox .remaining
	  {
		  float: none;
		  text-align: center;
		  transform: translate(-340px, 130px);
		  display: block;
	  }
	  
  }
  
  
  @media screen and (max-width: 991px) and (min-width: 768px)
  {
	  .quarter
	  {
		 width: 360px;
		 float: left;
		 padding: 0px 3px;
	  }
	   .halfBox
	  {
		  width: 50%;
		  float: left;
		  padding: 0px;
	  }
	  
	  .halfBox:nth-child(1)
	  {
		  padding-right: 15px;
	  }
	  
	  .halfBox:nth-child(2)
	  {
		  padding-left: 15px;
	  }
	  
	  .singleBox table
	  {
		  width: 33%;
		  margin: 0px 0px 0px 0px;
		  float: right;
		  transform:  translate(0px,-136px);
	  }
	  .singleBox .target
	  {
		  margin-left: 350px;
		  transform: translate(-190px, 90px);
	  }
	  .singleBox .remaining
	  {
		  float: none;
		  text-align: center;
		  transform: translate(-340px, 130px);
		  display: block;
	  }
  }
  
  @media screen and (max-width: 767px) and (min-width: 300px)
  {
	  .quarter
	  {
		 width: 100%;
		 float: left;
		 padding: 0px;
	  }
	  .halfBox
	  {
		  width: 100%;
	  }
  }
  
  /**************************************/
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
  
  .regional_heading, .product_heading { font-size:14px; height: 30px;}
  .line_div{width:65%;}
  .product_heading .line_div{ width:57%; }
	  .tml_regn .three_four{
		  width: 100%;
	  }
	  .tml_regn label{
		  padding: 10px 0px 0px 0px !important;
	  }
	  .tml_regn .three_four label, .tml_regn .four_four label, .tml_regn .four_four .input,.display_contest.tml_regn input,.display_contest.tml_regn select,.display_contest.tml_regn textarea{
		  width: 100% !important;
	  }
	  .tml_regn input[type="checkbox"]{
		  width: 20px !important;
		  height: 10px;
		  margin-top: 7px !important;
	  }
	  .tml_regn .one_four{
		  width: 100%;
	  }
	  .tml_regn .photo{
		  width: 320px !important;
		  display: block;
	  }
  }
  
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
  
  .regional_heading, .product_heading { font-size:14px; height: 25px;}
  .line_div{width:80%;}
  .product_heading .line_div{ width:70%; }
	  .display_contest .winner h2{font-size: 2em;}
	  .display_contest .slide_gallery{
		  width: 100%;
		  height: 56vw;
	  }
	  .display_contest .slide_gallery .images img{
		  max-height: 56vw;
	  }
	  .display_contest .slide_gallery button.left, .display_contest .slide_gallery button.right{
		  width: 34px;
	  }
	  .display_contest .thumb_gallery li{
		  height: 25vw;
	  }
	  .display_contest .winner ul.nav li{
		  margin: 20px 0px 0px 0px;
	  }
	  .display_contest .fs_gallery .image img{
		  max-width: 100%;
	  }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width : 800px) {
  .CustomContainer{ width:800px;}
  .custom-nav-bar .navbar-nav > li > a{ padding:10px 8px;}
  .gallery-box li{ width:24.5%;}
  .CustomContainer { margin-left: auto;  margin-right: auto;  padding-left: 15px; padding-right: 15px;}
  .login-tile .form-box{padding:10% 5%;}
  .tabbox{ width:100%;}
  .banner-home{ width:100%;}
  .partner-reg-form-box { width:100%;}
  .slider.slider-horizontal { width: 100% !important;}
  .product-filter label{ width:100% !important;}
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
  .CustomContainer{ width:768px;}
  }
  
  @media only screen and (max-width : 640px) {
  .CustomContainer{ width:640px;}
  .navbar-default .navbar-toggle { border-color: #fff;}
  .custom-nav-bar.navbar-default .navbar-toggle:focus, .custom-nav-bar.navbar-default .navbar-toggle:hover { background-color: #0059a0;}
  .custom-nav-bar.navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
  .custom-nav-bar.navbar-default .navbar-brand { color: #fff; display: inline-block;}
  .left-box, .right-box{width:100%;}
  .dream-box{ margin:0 4px;}
  .left-box p { font-size: 12px;  line-height: 18px;}
  .login-tile input[type="submit"] { float: inherit;  margin: 10px 5px 0 4px;}
  .quote{ width:70%;}
  .product-listing li { width: 48%;}
  .category-box{ margin-bottom:15px;}
  .line_div{width:65%;}
  .product_heading .line_div{ width:57%; }
  
  .content-box-sd.green-hd .heading {height: 130px;}
  #mem_log{ display: inline-block; margin-right:2px; }
	  .display_contest.referal label{
		  width: 100%;
	  }
	  .display_contest.referal .album_cta button.CTA{
		  margin-top: 10px;
	  }
  }
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
  .CustomContainer{ width:480px;}
  .banner-box { width:100%;}
  .reward-tile-box {width: 100%; margin-top:5px;}
  .left-box, .right-box { width:100%;}
  .gallery-box li{display:block; width:100%;}
  .social-link, .inline-link, .poweredby { text-align: center !important;  width: 100%; margin-top:10px;}
  .gallery-box ul{ margin:0 4px; width:auto;}
  .quote{ width:90%;}
  ul.faqtxt { padding: 10px;}
  .product-listing li { width: 47%;}
  .content-box-sd.green-hd .heading {height: 180px;}
  #mem_log{ margin-right:30px; }
	  .display_contest .album_list li td p.label{display: none}
  }
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 360px) {
  .CustomContainer{ width:360px;}
  .myaccount-table { overflow: scroll; padding: 10px; width: 320px; overflow-y:hidden;}
  .quote p { font-size: 16px;}
  .quote .call { font-size: 18px;}
  .product-listing li {  width: 100%;}
  .custom-pagination .pagination > li > a, .custom-pagination .pagination > li > span{ padding:6px 10px !important;}
  a.cart-btn, a.wishlist-btn {  margin-top: 10px;  text-align: center;  width: 100%;}
  
  }
  @media only screen and (max-width : 320px) {
  .CustomContainer{ width:320px;}
  .nav-tabs.custom-nav-tabs { padding: 0;}
  .myaccount-table {width: 280px;}
  .custom-pagination .pagination > li > a, .custom-pagination .pagination > li > span{ padding:6px 8px !important;}
  .line_div{width:40%;}
  .product_heading .line_div{ width:30%; }
  }