<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="images/logo2.png" rel="shortcut icon">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet">
 <!-- Bootstrap core CSS -->
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title>Shortlists</title>
	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-shim {
			visibility:hidden;
		}
		.ng-anchor {
			position:absolute;
		}

	</style>
</head>

<body>
<div class="main-container">
<div class="container">
	<header>
		<div class="logo1 pull-left"><a href="#"><img src="images/logo1.png" alt="Tata Moters"></a></div>
		<div class="logo2 pull-right"><a href="#"><img src="images/logo2.png" alt="Tata Moters"></a></div>
		<div class="clearfix"></div>
	</header>
	<div class="custom-nav-bar navbar navbar-default" role="navigation">
        <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Menu</a>
        </div>
        <div class="navbar-collapse collapse">
        <!-- Left nav -->
			<ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About The Program <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="#">Program Details</a></li>
					<li><a href="#">Eligibility Criteria</a></li>
					</ul>
				</li>
				<li><a href="myaccount.html">My Account <span class="caret"></span></a>
				   <ul class="dropdown-menu">
					 <li><a href="#">My Reports<span class="caret"></span></a>
					   <ul class="dropdown-menu">
						 <li><a href="#">Link1</a></li>
						 <li><a href="#">link2 <span class="caret"></span></a>
						   <ul class="dropdown-menu">
							 <li><a href="#">Link2a</a></li>
							 <li><a href="#">Link2b</a></li>
						   </ul>
						 </li>
					   </ul>
					 </li>
					 <li><a href="#">My Dashboard<span class="caret"></span></a>
					   <ul class="dropdown-menu">
						  <li><a href="#">Link1</a></li>
						  <li><a href="#">link2 <span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#">Link2a</a></li>
							  <li><a href="#">link2b</a></li>
							</ul>
						  </li>
						</ul>
					  </li>
					</ul>
				</li>
				<li><a href="#">My Privileges <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">My Rewards</a></li>
						<li><a href="#">My Dream Rewards</a></li>
						<li><a href="#">My Wish List</a></li>
						<li><a href="#">My Calandar</a></li>
					</ul>
				</li>
				<li><a href="#">Reward Gallery <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">E-Schedule</a></li>
						<li><a href="#"> E- Gallery</a></li>
					  </ul>
				</li>
				<li><a href="#">Resource Center<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">T & C</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="#">News & Events</a></li>
						<li><a href="#">Newsletter</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</li>
				<li><a href="#">Contest <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Quiz</a></li>
						<li><a href="display-contest_RegionWise.html">Select Winner</a></li>
					</ul>
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
	  
	<div class="banner"> 
		<!-- <img src="images/sales-gallery-banner.jpg" alt="my account">  -->
	</div>

	<div class="display_contest" ng-app="app" ng-controller="declare_winners">
		<ul class="nav">
			<li ng-class="(data.region =='north')?'active':''" ng-click="data.changeRegion('north')">NORTH</li>
			<li ng-class="(data.region =='west')?'active':''" ng-click="data.changeRegion('west')">WEST</li>
			<li ng-class="(data.region =='south')?'active':''" ng-click="data.changeRegion('south')">SOUTH</li>
			<li ng-class="(data.region =='east')?'active':''" ng-click="data.changeRegion('east')">EAST</li>
		</ul>
		
		<script>
		
			//North Data is displayed by default
			
			var dynamicData = {
				// Use this to set the current region so it can be controlled through backend data or querry paramter in the URL.
				region : "north",
				
				//Use this to set the current Page in the pagination so it can be controlled through backend data or querry paramter in the URL.
				currentPage : 0,
				
				//Redirect to this page when user click on "SAVE SELECTION AND EXIT"
				redirectToAfterSave : 'display-contest_RegionWise.html',
				pages : [],
				config : {
					api : {
						//API URL when user click on "UPDATE WINNER" button.
						declareWinner : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/dummyBackend.php",
						
						//API URL when user click on "SAVE SELECTION AND EXIT" button.
						updateSelection : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/dummyBackend.php",
						
						//API URL when user click on REGIONS button.
						changeRegion : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/declareWinner_changeRegion.php?"
					}
				}
			};
			
			//Pushing in dummy data. Remove this function in the live server but use the same object data structure for dynamicData.
			(function(){
			
				var i, id = 1, imgId = 0,
					imgPath = "http://172.16.174.75/workspace/PROJECTS/dummy/";
				
				for(i = 0; i < 3; i++){
					dynamicData.pages.push({
						items : []
					});
				}
						
				dynamicData.pages.forEach(function(key){
					
					for(i = 0; i < 5; i++){
						
						key.items.push({
							id : id++,				// Unique ID for all items.
							selected : false,		//Set this to true to keep the checkbox selected.
							declaredWinner : false,	//Set this to true to show the items as declared winner
							images : [
								{
									imgUrl : imgPath+(imgId++)+".jpg",
								},
								{
									imgUrl : imgPath+(imgId++)+".jpg",
								},
								{
									imgUrl : imgPath+(imgId++)+".jpg",
								},
								{
									imgUrl : imgPath+(imgId++)+".jpg",
								},
								{
									imgUrl : imgPath+(imgId++)+".jpg",
								}
							]
						});
					}
				});
			})();
			
			//INSPECT THE OBJECT STRUCTURE IN CONSOLE
			console.log(dynamicData);
			
		</script>
		
		<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>An Error occured while updating your data. Please try again.</p>
		<p class="alert alert-success" ng-show="successMsg.shown" ng-cloak>Successfully updated the winners</p>
		
		<p class="alert alert-warning" ng-show="warningMsg.shown" ng-cloak>Please check any of the checkbox to Declare the Winner</p>
		
		
		<div class="album_list">
			<ul class="self-clear" ng-repeat="x in data.pages.value"  ng-class="(x.id == data.winnerId)?'winner':''">
				<li class="winner" ng-click="x.selected = !x.selected; data.counter.count()">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<h4>SERIAL NO. <span>{{x.id}}</span></h4>
								<!-- <input type="checkbox"> -->
								<div class="checkbox" ng-class="(x.selected == true)?'active':''"></div>
								<p ng-hide="(x.declaredWinner == true)">Click to select entry</p>
								<p class="label label-success" ng-show="(x.declaredWinner == true)">DECLARED WINNER</p>
							</td>
						</tr>
					</table>
				</li>
				<li>
					<ul class="gallery" ng-gallery="x.images" ng-gallery-control="fsGallery"></ul>
				</li>
			</ul>
		</div>
		
		<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>An Error occured while updating your data. Please try again.</p>
		
		<p class="alert alert-success" ng-show="successMsg.shown" ng-cloak>Successfully updated the winners</p>
		
		<p class="alert alert-success" ng-show="savedMsg.shown" ng-cloak>Your selection has been saved</p>
		
		<p class="alert alert-warning" ng-show="warningMsg.shown" ng-cloak>Please check any of the checkbox to Declare the Winner</p>
		
		
		<div class="album_cta self-clear">
			<div class="pull-left">
				<p><span ng-bind="data.counter.selectedIds.length"></span> Selected</p>
				<p>Selected Id's : <span ng-bind="data.counter.selectedIds.join(', ')"></span></p>
			</div>
			<div class="pull-right paging">
				<button ng-disabled="data.pages.currentIndx == 0" ng-click="data.pages.prev()">< Previous Page</button>
				<span ng-bind="(data.pages.currentIndx + 1)"></span> of <span ng-bind="(data.pages.length)"></span>
				<button class="active" ng-disabled="data.pages.currentIndx == (data.pages.length - 1)" ng-click="data.pages.next()">Next Page></button>
			</div>
			<div class="clear"></div>
			
			<button class="pull-right CTA" ng-click="data.declareWinner()" title="CLICK TO DECLARE SELECTED CHAMPOINS AS WINNER.">UPDATE WINNER</button>
			
			<button class="pull-right CTA" ng-click="data.updateSelection()" title="CLICK TO SAVE YOUR SELECTION. YOUR SELECTION WILL BE REMEMBERED FOR THE NEXT TIME">SAVE SELECTION & EXIT</button>
			
		</div>
		
		<div class="loading pop-up" ng-class="(loading.shown == true)?'active':''">
			<div>
				<div class="body" id="floatBarsG">
					<div id="floatBarsG_1" class="floatBarsG"></div>
					<div id="floatBarsG_2" class="floatBarsG"></div>
					<div id="floatBarsG_3" class="floatBarsG"></div>
					<div id="floatBarsG_4" class="floatBarsG"></div>
					<div id="floatBarsG_5" class="floatBarsG"></div>
					<div id="floatBarsG_6" class="floatBarsG"></div>
					<div id="floatBarsG_7" class="floatBarsG"></div>
					<div id="floatBarsG_8" class="floatBarsG"></div>
				</div>
			</div>
		</div>
		
		<div class="fs_gallery pop-up" ng-class="(fsGallery.shown)?'active':''">
			<div ng-click="fsGallery.hide()">
				<div class="body" ng-click="stopPropagation($event)">
					<button class="close" ng-click="fsGallery.hide()">&times;</button>			
								
					<button class="left" ng-click="fsGallery.prev();">&lsaquo;</button>
					<button class="right" ng-click="fsGallery.next();">&rsaquo;</button>
					<div class="image">
						<table cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<img ng-src="{{fsGallery.imgUrl || 'images/1x1.png'}}">
							</td>
						</tr>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<span class="inline-link pull-left"><a href="#">FAQ</a> <a href="#">Contact Us</a> <a href="#">T&C</a></span>
		<span class="social-link pull-left text-center">
		<a href="#"><img src="images/facebook.png" alt="facebook"></a>
		<a href="#"><img src="images/twitter.png" alt="facebook"></a>
		<a href="#"><img src="images/youtube.png" alt="facebook"></a>
		<a href="#"><img src="images/googleplus.png" alt="facebook"></a>
		<a href="#"><img src="images/linkedIn.png" alt="facebook"></a>

		</span>
		<span class="poweredby pull-left text-right"><a href="#"><img src="images/signature.jpg" alt="BIWORLDWIDE.CO.IN"></a></span>
		<div class="clearfix"></div>
	</footer>
</div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="js/jquery.smartmenus.bootstrap.js"></script>
    
	 <!-- Angular JS and main application js -->
	<script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/display_contest.js"></script>

</body>
</html>
